
*{
    margin: 0;
    padding: 0;
}
.navigation{
    background-color: darkblue;
    text-align: center;

}
.navigation-link{
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.green-btn{
   padding: 10px 15px;
    background-color: mediumaquamarine;
    border-radius: 5px;
}
.navigation-img{
    height: 40px;
}
.slogan{
    background-image: url("https://ibatech.az/wp-content/uploads/2019/10/banner.jpg");
    background-size: cover;
    padding: 400px 0 100px;
    text-align: center;
}
.slogan-text{
    color: white;
}
.slogan-btn{
    display: inline-block;
    text-decoration: none;
}